<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Dave Sommerville">
    <meta name="description" content="Dave Sommerville">
    <meta name="theme-color" content="#ffffff">
    
    <title>Python Dungeon Crawler</title>
    <link rel="icon" href="./src/img/favicon.png" type="image/x-icon">
    <!-- External stylesheets -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- Local Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" media="all">

    
    <script type="module" src="{{ url_for('static', filename='js/game.js') }}" defer></script>
</head>
<body>
    <main id="game-container">
        <div class="control-panel">
            <div id="error-panel"></div>
            <div id="menu-panel">
                <strong>Available Actions:</strong>
                <ul id="options-list" ></ul>
            </div>
        </div>
        <div id="log-panel" >
            <p>Welcome to the dungeon...</p>
        <!-- </div>
        <div class="buffer"></div> -->
        <form id="action-form" class="flex">                
            <input type="text" id="player-input" placeholder="Type action or number..." autocomplete="off">
            <button type="submit">
                <i class="fa-solid fa-square-caret-right"></i>
            </button>
        </form>
    </main>
</body>
</html>